[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[user]
  name = Fernando Ferreira Diniz de Moraes
  email = 1682707+fefedimoraes@users.noreply.github.com

[includeIf "gitdir:~/workspace/**/**"]
  path = .amzn.gitconfig

[credential]
  helper = store

[core]
  pager = delta
  excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  features = catppuccin-macchiato

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
